* {
    -fx-bg-color: #3C3F41;
    -fx-accent: #2196F3;
}

#root {
    -fx-background-color: -fx-bg-color;
}

.ikonli-font-icon {
    -fx-icon-color: white;
    -fx-icon-size: 12px;
}

.list-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: transparent;
}

.list-cell:filled:selected:focused,
.list-cell:filled:selected {
    -fx-background-color: -fx-accent;
}

.menu-item {
    -fx-background-color: -fx-bg-color;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.menu-item:focused {
    -fx-background-color: -fx-accent;
}

.context-menu {
    -fx-background-color: -fx-bg-color;
    -fx-background-radius: 5px;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: gray;
    -fx-border-radius: 5px;
}

.icon-button:hover {
    -fx-background-color: gray;
}

.icon-button:pressed {
    -fx-background-color: derive(gray, -10%);
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: gray;
}

.tab-pane .tab-header-area .headers-region .tab {
    -fx-background-color: -fx-bg-color;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 3 15 3 15;
}

.tab-pane .tab-header-area .headers-region .tab:selected {
    -fx-background-color: derive(-fx-bg-color, 10%);
}

.tab-pane .tab-header-area .headers-region .tab .tab-container .tab-label {
    -fx-text-fill: white;
}

.tab-pane .tab-header-area .headers-region .tab .tab-container .tab-label {
    -fx-text-fill: white;
}

.tab-pane .tab-header-area .headers-region .tab .tab-container .tab-close-button {
    -fx-background-color: white;
}


.label {
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: -fx-bg-color;
    -fx-background-radius: 5px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: gray;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
}

.browser-progress-bar,
.browser-progress-bar .track {
    -fx-background-color: transparent;
}

.check-menu-item,
.radio-menu-item {
    -fx-mark-color: white;
    -fx-focused-mark-color: white;
}

.dialog-pane {
    -fx-background-color: -fx-bg-color;
}

.dialog-pane .content {
    -fx-text-fill: white;
}

.dialog-pane:header .header-panel {
    -fx-background-color: -fx-bg-color;
}

.dialog-pane:header .header-panel .label {
    -fx-text-fill: white;
}

.item {
    -fx-background-color: -fx-bg-color;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 8px;
}

.item:hover,
.item:selected {
    -fx-background-color: -fx-accent;
}

.split-pane .split-pane-divider {
    -fx-background-color: #2B2B2B;
}

.scroll-pane,
.scroll-pane > .viewport,
.scroll-pane .corner {
    -fx-background-color: -fx-bg-color;
}

.scroll-bar,
.scroll-bar .track-background,
.scroll-bar .track,
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: -fx-bg-color;
}

.scroll-bar .increment-button .increment-arrow,
.scroll-bar .decrement-button .decrement-arrow {
    -fx-background-color: white;
}

.scroll-bar .thumb {
    -fx-background-color: #313335;
    -fx-background-radius: 3px;
}

.radio-button .text {
    -fx-fill: white;
}

.radio-button .radio {
    -fx-background-color: -fx-bg-color;
    -fx-background-radius: 360;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: gray;
    -fx-border-radius: 360;
}

.radio-button:selected .radio .dot {
    -fx-background-color: white;
}
