* {
    -fx-bg-color: white;
    -fx-accent: #2196F3;
}

#root {
    -fx-background-color: -fx-bg-color;
}

.ikonli-font-icon {
    -fx-icon-color: black;
    -fx-icon-size: 12px;
}

.list-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: transparent;
}

.list-cell:filled:selected:focused,
.list-cell:filled:selected {
    -fx-background-color: -fx-accent;
}

.list-cell:filled:selected:focused .label,
.list-cell:filled:selected .label {
    -fx-text-fill: white;
}

.list-cell:filled:selected:focused .delete-button .ikonli-font-icon,
.list-cell:filled:selected .delete-button .ikonli-font-icon {
    -fx-icon-color: white;
}

.menu-item {
    -fx-background-color: -fx-bg-color;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.menu-item:focused {
    -fx-background-color: -fx-accent;
}

.custom-menu-item:focused .ikonli-font-icon {
    -fx-icon-color: white;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: -fx-bg-color;
    -fx-background-radius: 5px;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: lightgray;
    -fx-border-radius: 5px;
}

.icon-button:hover {
    -fx-background-color: lightgray;
}

.icon-button:pressed {
    -fx-background-color: derive(lightgray, -10%);
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: gray;
}

.tab-pane .tab-header-area .headers-region .tab {
    -fx-background-color: derive(-fx-bg-color, -10%);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab-header-area .headers-region .tab:selected {
    -fx-background-color: -fx-bg-color;
}

.text-field {
    -fx-background-color: -fx-bg-color;
    -fx-background-radius: 5px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: lightgray;
    -fx-border-radius: 5px;
    -fx-text-fill: black;
}

.browser-progress-bar,
.browser-progress-bar .track {
    -fx-background-color: transparent;
}

.check-menu-item,
.radio-menu-item {
    -fx-focused-mark-color: white;
}

.dialog-pane {
    -fx-background-color: -fx-bg-color;
}

.dialog-pane .content {
    -fx-text-fill: black;
}

.dialog-pane:header .header-panel {
    -fx-background-color: -fx-bg-color;
}

.dialog-pane:header .header-panel .label {
    -fx-text-fill: black;
}
